.managementBar {
  padding: 1.5rem 1rem; 
  margin-top: 70px; 
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
  gap: 1rem; 
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .managementBar {
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-end; 
    gap: 1.5rem; 
  }
}

.managementNavContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center; 
}

@media (min-width: 768px) {
  .managementNavContainer {
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;
  }
}

.searchAddContainer {
  display: flex;
   flex-direction: column;
  align-items: flex-end;
  gap: 1rem; 
  width: 100%; 
  flex-shrink: 0; 
  flex-wrap: wrap; 
}

@media (min-width: 768px) {
  .searchAddContainer {
    width: auto; 
  }
}